.funnel
  .chart
    min-height 500px

  .title.is-1
    font-weight 100
    font-size 48px
    margin-top 100px
    margin-bottom 100px

  .box
    border-radius 0

  .control
    display flex
    margin-top 20px
    justify-content center
    align-items center

  .y-axis .tick line
    fill none
    stroke hsl(0, 0%, 86%)
    stroke-width 1

  .x-axis .tick line,
  .x-axis .domain,
  .y-axis .domain
    fill none
    stroke hsl(0, 0%, 29%)
    stroke-width 1

  .x-axis .tick text,
  .y-axis .tick text
    font-size 10px
    fill hsl(0, 0%, 29%)

  .bar
    fill hsl(348, 100%, 61%)

  .node circle
    fill hsl(348, 100%, 61%)

  .node text
    font-size 14px
    fill hsl(0, 0%, 29%)

  .link
    fill none
    stroke hsl(348, 100%, 61%)
    stroke-width 1px
