namenode:
  image: blah/hadoop-master
  container_name: namenode
  hostname: namenode
  ports:
    - "8020:8020"
    - "9000:9000"
    - "50070:50070"
  volumes:
    - ./blah-data/dfs/name:/data/dfs/name
    - ./blah-data/dfs/data:/data/dfs/data

datanode1:
  image: blah/hadoop-slave
  links:
    - namenode
  ports:
    - "50075:50075"
  volumes:
    - ./blah-data/dfs/name:/data/dfs/name
    - ./blah-data/dfs/data:/data/dfs/data

sparkworker1:
  image: blah/spark-worker
  links:
    - sparkmaster
  ports:
    - "8888:8888"
    - "8081:8081"

sparkworker2:
  image: blah/spark-worker
  links:
    - sparkmaster
  ports:
    - "8889:8888"
    - "8082:8081"

sparkmaster:
  image: blah/spark-master
  container_name: sparkmaster
  hostname: sparkmaster
  ports:
    - "7077:7077"
    - "8080:8080"

flume:
  image: blah/flume
  environment:
    FLUME_AGENT_NAME: "a1"
  links:
    - namenode
    - kafka

elasticsearch:
  image: blah/elasticsearch
  container_name: elasticsearch
  hostname: elasticsearch
  ports:
    - "9200:9200"
    - "9300:9300"
  volumes:
    - ./blah-data/elasticsearch:/data

kafka:
  image: spotify/kafka
  container_name: kafka
  hostname: kafka
  ports:
    - "2181:2181"
    - "9092:9092"
  environment:
    ADVERTISED_HOST: 192.168.99.100
    ADVERTISED_PORT: 9092

api:
  image: blah/api:0.1.0
  ports:
    - "8000:8000"
  links:
    - kafka
  environment:
    KAFKA_URL: "kafka:9092"
    ZOOKEEPER_URL: "kafka:2181"

serving:
  image: blah/serving:0.1.0
  ports:
    - "8001:8001"
  links:
    - kafka
    - elasticsearch
  environment:
    KAFKA_URL: "kafka:9092"
    ZOOKEEPER_URL: "kafka:2181"
    ELASTICSEARCH_URL: "elasticsearch:9200"

streaming_count:
  image: blah/streaming:0.1.0
  links:
    - sparkmaster
    - elasticsearch
    - kafka
  environment:
    KAFKA_URL: "kafka:9092"
    ZOOKEEPER_URL: "kafka:2181"
    ELASTICSEARCH_URL: "elasticsearch:9200"
  command: count
