sparkworker:
  image: blah/spark-worker
  links:
    - sparkmaster
  ports:
    - "8888:8888"
    - "8081:8081"

sparkmaster:
  image: blah/spark-master
  hostname: sparkmaster
  ports:
    - "7077:7077"
    - "8080:8080"

# hadoop:
#   image: blah/spark
#   mem_limit: 4g
#   ports:
#     - "9000:9000"
#     - "50070:50070"
#   links:
#     - kafka
#     - elasticsearch
#   environment:
#     KAFKA_URL: "kafka:9092"
#     ELASTICSEARCH_URL: "elasticsearch:9200"

# flume:
#   image: blah/flume
#   environment:
#     FLUME_AGENT_NAME: "a1"
#   links:
#     - hadoop
#     - kafka

elasticsearch:
  image: elasticsearch
  command: elasticsearch --network.publish_host=192.168.99.100
  ports:
    - "9200:9200"
    - "9300:9300"

kafka:
  image: spotify/kafka
  ports:
    - "2181:2181"
    - "9092:9092"
  environment:
    ADVERTISED_HOST: 192.168.99.100
    ADVERTISED_PORT: 9092

api:
  image: blah/api:0.1.0
  ports:
    - "8000:8000"
  links:
    - kafka
  environment:
    KAFKA_URL: "kafka:9092"
    ZOOKEEPER_URL: "kafka:2181"

serving:
  image: blah/serving:0.1.0
  ports:
    - "8001:8001"
  links:
    - kafka
    - elasticsearch
  environment:
    KAFKA_URL: "kafka:9092"
    ZOOKEEPER_URL: "kafka:2181"
    ELASTICSEARCH_URL: "elasticsearch:9200"
