.button
  padding: 10px
  color: base0
  text-decoration: none
  outline: none
  background: none
  border: 1px solid base0
  border-radius: 20px
  display: inline-block 
  cursor: pointer

.button.is-link
  border: 0

.button.is-red
  color: red
  border-color: red

.button.is-red.is-filled
  color: base3
  background: red
  border: 0
