.button-link
  background: none
  color: base0
  text-decoration: none
  padding: 10px
  outline: none

.button-red
  background: none
  color: red
  text-decoration: none
  border: 1px solid red
  border-radius: 20px
  padding: 10px
  min-width: 36px
  outline: none

.button-red:hover,
.button-red:active
  color: red

.button-red-filled
  background: red
  color: base3
  text-decoration: none
  border-radius: 20px
  padding: 10px
  border: 0
  min-width: 36px
  outline: none

.button-blue-filled:hover,
.button-blue-filled:active
  color: base3
