path
  stroke: red
  stroke-width: 3
  fill: none

.axis
  shape-rendering: crispEdges

.y.axis line,
.x.axis path
  fill: none
  stroke: base0
  stroke-width: 1

.y.axis path
  stroke-width: 0

.chart .tick line
  stroke: base1

.x.axis .tick line,
.chart .tick:first-child line
  stroke: base0

.chart .tick text
  font-size: 10px
  fill: base0
