path
  stroke: red
  stroke-width: 3
  fill: none

.axis
  shape-rendering: crispEdges

.y.axis line,
.x.axis path
  fill: none
  stroke: base0
  stroke-width: 1

.y.axis path
  stroke-width: 0

.chart .tick line
  stroke: base1

.x.axis .tick line,
.chart .tick:first-child line
  stroke: base0

.chart .tick text
  font-size: 10px
  fill: base0

.bar
  fill: red

.arc text
  font: 10px sans-serif
  text-anchor: middle
  fill base3

.arc path
  stroke-width: 0

colorize(letter, color)
  .arc .{letter}
    fill: color

colorize('a', red)
colorize('b', red2)
colorize('c', magenta)
colorize('d', magenta2)
colorize('e', violet)
colorize('f', violet2)
colorize('g', blue)
colorize('h', blue2)
colorize('i', cyan)
colorize('j', cyan2)
colorize('k', green)
colorize('l', green2)
colorize('m', yellow)
colorize('n', yellow2)
colorize('o', orange)
colorize('p', orange2)
