.x-axis .tick line,
.y-axis .tick line
  fill none
  stroke base0
  stroke-width 1

.y-axis .tick line
  opacity 0.2

.x-axis .domain,
.y-axis .domain
  fill none
  stroke base0
  stroke-width 1

.x-axis .tick text,
.y-axis .tick text
  font-size 10px
  fill base0

.line
  stroke deepOrange
  stroke-width 3
  fill none

.circle
  fill deepOrange

.bar
  fill deepOrange

.arc text
  font-size 10px
  text-anchor middle
  fill base3

colorize(letter, color)
  .arc-{letter}
    fill color

  .is-colored-{letter}
    font-weight 500
    background color
    color base3

colorize('a', deepOrange)
colorize('b', red)
colorize('c', pink)
colorize('d', purple)
colorize('e', deepPurple)
colorize('f', indigo)
colorize('g', blue)
colorize('h', lightBlue)
colorize('i', cyan)
colorize('j', teal)
colorize('k', green)
colorize('l', lightGreen)
colorize('m', lime)
colorize('n', yellow)
colorize('o', amber)
colorize('p', orange)
