colorize(letter, color)
  .ct-series-{letter} .ct-slice-donut,
  .ct-series-{letter} .ct-bar
    stroke: color
  .label-series-{letter}
    background: color

colorize('a', red)
colorize('b', red2)
colorize('c', magenta)
colorize('d', magenta2)
colorize('e', violet)
colorize('f', violet2)
colorize('g', blue)
colorize('h', blue2)
colorize('i', cyan)
colorize('j', cyan2)
colorize('k', green)
colorize('l', green2)
colorize('m', yellow)
colorize('n', yellow2)
colorize('o', orange)
colorize('p', orange2)

.ct-series-a .ct-label
  color: white

.ct-chart-bar
  .ct-bar
    stroke-width: 20px
  .ct-grid
    stroke: rgba(0,0,0,0.1)
    stroke-dasharray: 0
  .ct-label
    font-size: 8px

.ct-chart-donut .ct-label
  fill: base3
