.ct-series-a .ct-slice-donut,
.ct-series-a .ct-bar
  stroke: red

.ct-series-b .ct-slice-donut,
.ct-series-b .ct-bar
  stroke: magenta

.ct-series-c .ct-slice-donut,
.ct-series-c .ct-bar
  stroke: violet

.ct-series-d .ct-slice-donut,
.ct-series-d .ct-bar
  stroke: blue

.ct-series-e .ct-slice-donut,
.ct-series-e .ct-bar
  stroke: cyan

.ct-series-f .ct-slice-donut,
.ct-series-f .ct-bar
  stroke: green

.ct-series-g .ct-slice-donut,
.ct-series-g .ct-bar
  stroke: yellow

.ct-series-h .ct-slice-donut,
.ct-series-h .ct-bar
  stroke: orange

.label-series-a
  background: red

.label-series-b
  background: magenta

.label-series-c
  background: violet

.label-series-d
  background: blue

.label-series-e
  background: cyan

.label-series-f
  background: green

.label-series-g
  background: yellow

.label-series-h
  background: orange


.ct-series-a .ct-label
  color: white

.ct-chart-bar .ct-bar
  stroke-width: 20px

.ct-chart-donut .ct-label
  fill: base3
