// background tones (dark)
base03  = #282828
base02  = #3c386
base01  = #504945

// content tones
base00  = #7c6f64
base0   = #928374

// background tones (light)
base1   = #F0eee1
base2   = #F2f1eb
base3   = #fff

yellow  = #F2F26F
orange  = #FFBE40
red     = #FC6E51
magenta = #DA4453
violet  = #4E395D
blue    = #13747D
cyan    = #0ABFBC
green   = #CCFC8E
