// background tones (dark)
base03  = #000
base02  = #000
base01  = #000

// content tones
base00  = #000
base0   = #000

// background tones (light)
base1   = #fff
base2   = #fff
base3   = #fff

yellow  = #d7ff98;
orange  = #faa486;
red     = #ed7e79;
magenta = #ff5f97;
violet  = #948cf1;
blue    = #87a2f3;
cyan    = #2fe7be;
green   = #32b95f;
