.button
  border-radius 100px
.button.is-link
  background transparent
  text-decoration none

.material-icons.is-small
  font-size 14px
.material-icons.is-large
  font-size 62px

.navbar a
  text-transform uppercase
  margin: 5px
