.button
  border-radius 100px
.button.is-link
  background transparent
  text-decoration none

.material-icons.is-small
  font-size 14px
.material-icons.is-large
  font-size 62px

.nav
  background none
.nav a
  text-transform uppercase
  margin 5px
.nav-menu
  background base2
  .divider
    border-bottom 1px solid base1

@media screen and (max-width: tablet - 1px)
  .dropdown
    .nav-toggle
      display none

@media screen and (min-width: tablet)
  .dropdown
    .nav-toggle
      display block
    .nav-menu
      position absolute
      display none
      background base3
      .nav-item
        justify-content flex-start;

@media screen and (max-width: tablet - 1px)
  .nav-menu .nav-item
    border 0

.filter-row, .group-row
  background base3
  padding 10px
  box-shadow 0 2px 3px rgba(base03, 0.1), 0 0 0 1px rgba(base03, 0.1)
  .control
    margin-bottom 0

.group-row
  margin-bottom 20px

.list
  .list-item
    padding 10px
    margin 0

.card-header
  .button
    margin 5px
  i
    margin 10px
