html.dark, .dark body
  background base03

.dark .widget
  background base02

.dark .world-map path
  stroke base03 !important
  fill base02 !important

.dark .input
  background base02
  border-color darken(base03, 20%)
  color base0

.dark .card
  background base02
  box-shadow 0 0 0 1px darken(base03, 20%)
  .material-icons
    color base3
  .title
    color base3
  .subtitle
    color base0
  .card-header
    box-shadow 0 1px 0 base03
  .card-header-title
    color base3
