html.dark, .dark body
  background base03

.dark .nav .nav-menu
  background base03
.dark .nav .dropdown .nav-menu
  background base02
.dark .nav .divider
  border-bottom 1px solid base02

@media screen and (max-width: tablet - 1px)
  .dark .nav .dropdown .nav-menu
    background base03

.dark .widget
  background base02
  box-shadow 0 2px 3px rgba(#000, 0.2), 0 0 0 1px rgba(#000, 0.2)

.dark .world-map path
  stroke base03 !important
  fill base02 !important

.dark .card
  background base02
  box-shadow 0 0 0 1px darken(base03, 20%)
  .material-icons
    color base3
  .title
    color base3
  .subtitle
    color base0
  .card-header
    box-shadow 0 1px 0 base03
  .card-header-title
    color base3

.dark .filter-row, .dark .group-row
  background base02
  box-shadow 0 0 0 1px darken(base03, 20%)

.dark .label
  color base0

.dark .is-bordered
  background base02
  box-shadow 0 2px 3px rgba(#000, 0.2), 0 0 0 1px rgba(#000, 0.2)
