.is-large
  font-size: 24px

.input
  border: 0
  border-bottom: 1px solid base1
  padding: 10px 0
  background: none
  width: 100%

.input:focus
  outline: none
  box-shadow: none
  border-color: darken(base1, 10%)

.select
  display: inline-block
  padding: 10px 0
  padding-right: 100px
  height: 32px
  border: 1px solid base1
  background: base3
  border-radius: 0
  outline: none

.control
  margin: 10px 0
  label
    display: block
