.is-large
  font-size: 24px

.material-icons.is-large
  font-size 62px

.input
  border: 0
  border-bottom: 1px solid base1
  padding: 10px 0
  background: none
  width: 100%

.input:focus,
.input.dirty
  outline: none
  box-shadow: none
  box-shadow: inset 0 -1px 0 red
  border-color: red
  transition: 0.2s ease all

.input ~ label
  position: absolute
  margin-top: -27px
  pointer-events: none
  color: base0

.input.is-large ~ label
  margin-top: -39px
  font-size: 24px

.input.is-large:focus ~ label,
.input.is-large.dirty ~ label
  margin-top: -60px
  font-size: 12px

.input:focus ~ label,
.input.dirty ~ label
  font-size: 12px
  margin-top: -46px
  color: red
  transition: 0.2s ease all

.select
  display: inline-block
  padding: 10px 0
  padding-right: 100px
  height: 32px
  border: 1px solid base1
  background: base3
  border-radius: 0
  outline: none

.control
  margin: 10px 0
  position: relative
  label
    display: block

.control.is-grouped
  display: flex

.control.is-grouped > .button:not(:last-child),
.control.is-grouped > .input:not(:last-child),
.control.is-grouped > .textarea:not(:last-child),
.control.is-grouped > .select:not(:last-child)
  margin-right: 10px
