@import 'colors'
@import 'fonts'
@import 'bootstrap'
@import 'chartist'

body
  background: base2
  font-family: Roboto
  font-weight: 300

h1, h2, h3, h4, h5, h6
  font-weight: 400

h1
  font-weight: 100
  font-size: 64px
  margin-bottom: 80px

.container
  width: 990px
  margin-top: 10px
  padding: 0

.center-h
  text-align: center

.center-vh, .center-hv
  height: 100%
  text-align: center
  display: flex
  align-items: center
  justify-content: center

@import 'widget'
