@import 'colors'
@import 'fonts'
@import 'chartist'

html
  box-sizing: border-box

*, *:before, *:after
  box-sizing: inherit

body
  background: base2
  font-size: 14px
  font-family: Roboto
  font-weight: 300
  color: base00

h1, h2, h3, h4, h5, h6
  font-weight: 400

h1
  font-weight: 100
  font-size: 48px
  margin-top: 100px
  margin-bottom: 50px

.container
  width: 320px
  margin: 0 auto
  margin-top: 10px
  padding: 0
@media (min-width: 660px)
  .container
    width: 660px
@media (min-width: 990px)
  .container
    width: 990px

.center-h
  text-align: center

.center-vh, .center-hv
  height: 100%
  text-align: center
  display: flex
  align-items: center
  justify-content: center

.clearfix
  &:after
    clear: both
    content: " "
    display: table

.pull-right
  float: right

.label
  padding: 2px 4px
  color: #fff
  font-size: 12px
  font-weight: 700

.label-red
  background: red

@import 'form'
@import 'widget'
