@import 'colors'
@import 'fonts'

body
  margin-top: 20px
  background: base2
  font-family: Roboto
  font-weight: 300

h1, h2, h3, h4, h5, h6
  font-weight: 400

@import 'widget'
@import 'widget-count'
@import 'widget-grouped'
@import 'widget-recommendations'
