html, body
  background base2
  font-size 14px
  font-family Roboto
  font-weight 300
  color base00

input, select
  font-family Roboto

h1, h2, h3, h4, h5, h6
  font-weight 400
  line-height 100%

h1
  font-weight 100
  font-size 48px
  margin-top 100px
  margin-bottom 100px

.container
  margin 0 auto
  padding 0
@media (min-width: 660px)
  .container
    max-width 660px
@media (min-width: 990px)
  .container
    max-width 990px
