.segmentation .chart
  height 500px

.world-map
  height 410px
  path, path:hover
    stroke base2 !important
    fill base1 !important
  circle
    fill cyan

.people-list
  margin-top 50px
  .event
    padding 5px 10px
    margin-bottom 0
  .event:first-child
    padding-top 10px
  .event:last-child
    padding-bottom 10px
