.segmentation .chart
  height 500px

.world-map
  path, path:hover
    stroke base2 !important
    fill base1 !important
  circle
    fill cyan

.people-list
  margin-top 50px
  .card-content
    padding 10px
    .media
      .subtitle
        margin-bottom 2px
      margin-bottom 20px
  .event
    margin-bottom 10px
  .event:last-child
    margin-bottom 0
