.segmentation .chart
  height 500px

.world-map
  path, path:hover
    stroke base2 !important
    fill base1 !important
  circle
    stroke none !important
    fill cyan

.people-list
  margin-top 50px
  .card-content
    padding 10px
    .media
      .subtitle
        margin-bottom 2px
      margin-bottom 20px
  .list-item
    padding 5px 0
