.is-centered-vh, .is-centered-hv
  text-align center
  display flex
  align-items center
  justify-content center

.is-bordered
  box-shadow 0 2px 3px rgba(base03, 0.1), 0 0 0 1px rgba(base03, 0.1)
  background base3
