// colors

white           = hsl(0, 0%, 100%)
grey-text       = hsl(0, 0%, 29%)
grey-background = hsl(0, 0%, 98%)

orange          = hsl(14, 100%, 53%)
yellow          = hsl(48, 100%, 67%)
green           = hsl(141, 71%, 48%)
turquoise       = hsl(171, 100%, 41%)
blue            = hsl(217, 71%, 53%)
purple          = hsl(271, 100%, 71%)
red             = hsl(348, 100%, 61%)

// breakpoints
tablet     = 769px
desktop    = 980px
widescreen = 1180px
