// background tones (dark)
base03  = #222
base02  = #333
base01  = #555

// content tones
base00  = #777
base0   = #999

// background tones (light)
base1   = #eee
base2   = #fafafa
base3   = #fff

deepOrange = #FF5622
red        = #F44235
pink       = #E91C63
purple     = #9C26B0
deepPurple = #683BB7
indigo     = #4051B5
blue       = #2296F3
lightBlue  = #00A9F4
cyan       = #00BCD4
teal       = #009688
green      = #4BAF4F
lightGreen = #8BC349
lime       = #CDDC38
yellow     = #FFEB3B
amber      = #FFC10D
orange     = #FF9800

// red      = #FF5722 //
// red2     = #F44235 //
// magenta  = #E91E63 //
// magenta2 = #994050
// violet   = #9C27B0 //
// violet2  = #683BB7 //
// blue     = #4051B5 //
// blue2    = #2196F3 //
// cyan     = #28CEF4
// cyan2    = #39D8C9
// green    = #6EF5B9
// green2   = #CCFC8E
// yellow   = #F2F26F
// yellow2  = #F2D76F
// orange   = #F6C360
// orange2  = #FC9551
