@import 'nib'

.widgets
  height: 100%

.widget
  width: 200px
  height: 200px
  float: left
  margin-bottom: 20px;
  padding: 10px;
  background: base3
  border: 1px solid base1
  h3
    padding: 0
    margin: 0

.widget-count
  .count
    font-size: 48px
    text-align: center
  .page
    text-align: center

.widget-line
  width: 420px

.widget-pie
  width: 420px
  height: 420px
  .chart
    width: 100%
    height: 100%

.widget-recommendations
  width: 420px
  height: 420px
