@import 'nib'

.widgets
  height: 100%
  column-gap: 1.5em

.widget
  display: inline-block
  width: 100%
  box-sizing: border-box
  .wrapper
    display: inline-block

@media only screen and (min-width: 700px)
  .widgets
    column-count: 2

@media only screen and (min-width: 900px)
  .widgets
    column-count: 3

@media only screen and (min-width: 1100px)
  .widgets
    column-count: 4
