@import 'nib'

.widgets
  height: 100%

.widget
  width: 200px
  height: 200px
  float: left
  margin-bottom: 20px;
  padding: 10px;
  background: base3
  border: 1px solid base1
  border-bottom: 1px solid #bbb
  box-shadow: 0 3px 0 #ccc
  h3
    padding: 0
    margin: 0
