.widgets
  margin 0 auto
  max-width 320px
@media (min-width: 660px)
  .widgets
    max-width 100%

.widget
  width 320px
  margin-right 10px
  margin-bottom 10px !important
  &.is-2
    width 650px
  &.is-3
    width 990px
