.collection
  border-radius 0

  .title
    padding 10px
    padding-bottom 20px
    font-weight 200
    font-size 32px
    text-align center

  .chart
    width 100%
    min-height 300px

  .y-axis .tick line
    fill none
    stroke hsl(0, 0%, 86%)
    stroke-width 1

  .x-axis .tick line,
  .x-axis .domain,
  .y-axis .domain
    fill none
    stroke hsl(0, 0%, 29%)
    stroke-width 1

  .line
    stroke hsl(348, 100%, 61%)
    stroke-width 3
    fill none
