.referrer
  height auto

  .title
    padding 10px
    padding-bottom 20px
    font-weight 200
    font-size 32px
    text-align center

  .box
    padding 10px
    border-radius 0
    margin-bottom 0
